<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /shai
RewriteRule ^shai/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /shai/index.html [L]
</IfModule>